In [39]:
import itertools
import numpy as np
# from __future__ import unicode_literals

# Text Classification of food items (Unsupervised Learning, with improved accuracy)

In this notebook, I will attempt to classify a food items database into their appropriate segments.

# Contents

1. Introduction
2. Text Pre-processing
3. Text-to-features (Feature Engineering)
4. Text modelling
5. Text Classification
6. Testing and exporting
7. Conclusion

# 1. Introduction

In the following problem, we have a database 'item_list.csv' having 2 columns, item_name and item_id. The tasks are:

1. To come up with appropriate segments for the food items
2. Train a model that predicts the segments

**This is what I did in my previous attempt:**

*"For the first part, I will use clustering algorithm as the problem is unsupervised. For the second part, I will extract labels from the clusters and use them as features for clustering.*

*I will be using Word2Vec using gensim, as Word2Vec has the power to produce word embeddings. Other models like bag of words, tf-idf will not give us the co-relation between the words.*

*As an alternative, I will also be using TextBlob with the NaiveBayesClassifier as it can give a better result than K-means using Scikit-Learn.*

*I wanted to use GloVe and fastText as well, so that we could have had an overview all all models an chosen the best one."*

**For a second attempt, I decided to use GloVe (it attempts to obtain high-dimensional vector representations of words using global word-word co-occurrence) and SpaCy (a general purpose NLP tool which also happens to include pre-trained vectors for the most common English words using the GloVe Common Crawl.)**

So, in short, I'll be making meta-labels(topic_keywords) based on my overview of the data.
Also, I'll be defining the labels(topic_labels) before I train the model.

Then, I'll convert each keyword to a vector using GloVe.
Following which, I'll convert our data into vectors as well.

Finally, I'll compute a similarity matrix of each keyword to each topic, which gives us the output.

## 1.1 Sneak-peak at data

In [1]:
#Importing stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import nltk

C:\Users\prans_\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
import spacy
import en_core_web_md

In [3]:
# Import database
dataset=pd.read_csv('final_food.csv')

In [4]:
# Sneak-peak of data
dataset.head()

   Unnamed: 0                        item_name     id  cuisine  type  sub_type
0         112                  chicken noodles   6651        1     1         0
1         229   egg triple schezwan fried rice   9176        1     1         0
2         834        chicken schezwan lollipop   6018        1     1         0
3         837                 chicken lollypop  14139        1     1         0
4         869  pudina tandoori momos (non-veg)   4689        1     1         0

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13337 entries, 0 to 13336
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13337 non-null  int64
 1   item_name   13337 non-null  object
 2   id          13337 non-null  int64
 3   cuisine     13337 non-null  int64
 4   type        13337 non-null  int64
 5   sub_type    13337 non-null  int64
dtypes: int64(5), object(1)
memory usage: 625.3+ KB

I tried to solve the issue of not deleting the id's in the following way:
    1. Making all required changes to data without deleting the id
    2. Slicing and storing id column in a dataframe before modelling
    3. Appending the id frame back to the original database
    
The issue in this was:
After making all changes to data, there are less entries in the data, and thus id and data could not be concatenated as the dimensions now differ.

This issue will be solved(#1)

In [6]:
# Drop the unnecessary columns.
dataset.drop(labels = ["Unnamed: 0"], axis = 1, inplace = True)

In [7]:
#dataset.drop(labels = ["id"], axis = 1, inplace = True)

In [8]:
dataset.values

array([['chicken noodles', 6651, 1, 1, 0],
       ['egg triple schezwan fried rice', 9176, 1, 1, 0],
       ['chicken schezwan lollipop', 6018, 1, 1, 0],
       ...,
       ['vodka - absolut d.f.', 11528, 6, 0, 5],
       ['vodka - absolut d.f.', 11639, 6, 0, 5],
       ['vodka - absolut d.f.', 11616, 6, 0, 5]], dtype=object)

In [9]:
# Brief information about dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13337 entries, 0 to 13336
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_name  13337 non-null  object
 1   id         13337 non-null  int64
 2   cuisine    13337 non-null  int64
 3   type       13337 non-null  int64
 4   sub_type   13337 non-null  int64
dtypes: int64(4), object(1)
memory usage: 521.1+ KB

In [10]:
#Check for null values
dataset.isnull().sum()

item_name    0
id           0
cuisine      0
type         0
sub_type     0
dtype: int64

In [11]:
dataset.describe()

                 id       cuisine          type      sub_type
count  13337.000000  13337.000000  13337.000000  13337.000000
mean   14588.598485      3.530329      0.055635      1.570368
std     7985.007552      1.611623      0.229224      2.052370
min        2.000000      0.000000      0.000000      0.000000
25%     7963.000000      3.000000      0.000000      0.000000
50%    15008.000000      4.000000      0.000000      0.000000
75%    21197.000000      5.000000      0.000000      3.000000
max    28924.000000      6.000000      1.000000      8.000000

In [12]:
dataset.head()

                         item_name     id  cuisine  type  sub_type
0                  chicken noodles   6651        1     1         0
1   egg triple schezwan fried rice   9176        1     1         0
2        chicken schezwan lollipop   6018        1     1         0
3                 chicken lollypop  14139        1     1         0
4  pudina tandoori momos (non-veg)   4689        1     1         0

Thus, in this section, we have had a good look at our data.

# 2. Text pre-processing

The dataset is raw and has many errors. We will implement three major changes in our dataset. They are:
    1. Convert all data to lowercase
    2. Get rid of the punctuation
    3. Remove numbers from dataset
    4. Remove specific elements having no significant use (delivery charges@30, gi--)

## 2.1 Converting to lowercase

In [13]:
#Converting data to lower-case using Lambda function
a = dataset.apply(lambda x: x.astype(str).str.lower())

In [14]:
df1 = a['id']

In the above code, we have sliced and stored id column into a dataframe df1, which will be appended again to the main database. The problem here was after removing the punctuation, it deletes the id as well for some reason. Also, the number of rows are reduced, and should be in sync with id colun before slicing it.

Will fix this issue(#1)

In [15]:
a.head()

                         item_name     id cuisine type sub_type
0                  chicken noodles   6651       1    1        0
1   egg triple schezwan fried rice   9176       1    1        0
2        chicken schezwan lollipop   6018       1    1        0
3                 chicken lollypop  14139       1    1        0
4  pudina tandoori momos (non-veg)   4689       1    1        0

In [16]:
#new_a=a.drop('id',axis=1)

## 2.2 Removing punctuation

In [17]:
# Getting rid of all punctuation
b=a.apply(lambda x: x.astype(str).str.replace('[^\w\s]',''))

C:\Users\prans_\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [18]:
b.shape

(13337, 5)

In [19]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13337 entries, 0 to 13336
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_name  13337 non-null  object
 1   id         13337 non-null  object
 2   cuisine    13337 non-null  object
 3   type       13337 non-null  object
 4   sub_type   13337 non-null  object
dtypes: object(5)
memory usage: 521.1+ KB

## 2.3 Removing digits

In [20]:
f=b['item_name'].str.replace('\d+', '')

C:\Users\prans_\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [21]:
f

0                       chicken noodles
1        egg triple schezwan fried rice
2             chicken schezwan lollipop
3                      chicken lollypop
4          pudina tandoori momos nonveg
                      ...
13332             vodka smirnoff orange
13333                    vodka belvedre
13334                 vodka  absolut df
13335                 vodka  absolut df
13336                 vodka  absolut df
Name: item_name, Length: 13337, dtype: object

In [22]:
# Converting a pandas dataframe to a numpy array
c=f.values

In [23]:
c

array(['chicken noodles', 'egg triple schezwan fried rice',
       'chicken schezwan lollipop', ..., 'vodka  absolut df',
       'vodka  absolut df', 'vodka  absolut df'], dtype=object)

## 2.4 Removing specific words having no significance (delivery charge@30, gi--3557)

Here, since we do not know the index of the words in the database, we will use the argwhere() function.

The issue here is this:
    1. I have defined an array in every new line.
    2. The names of defined arrays are confusing.
   
Both the issues will be fixed(**#2**)

In [24]:
#Find and delete index having word as delivery charge@
index = np.argwhere((c=='delivery charge@'))
h=np.delete(c, index)

In [25]:
h

array(['chicken noodles', 'egg triple schezwan fried rice',
       'chicken schezwan lollipop', ..., 'vodka  absolut df',
       'vodka  absolut df', 'vodka  absolut df'], dtype=object)

In [26]:
#Find and delete index having word as gi
index = np.argwhere(h=='gi')
i=np.delete(h, index)

In [27]:
i

array(['chicken noodles', 'egg triple schezwan fried rice',
       'chicken schezwan lollipop', ..., 'vodka  absolut df',
       'vodka  absolut df', 'vodka  absolut df'], dtype=object)

In [28]:
d=i

In [29]:
d

array(['chicken noodles', 'egg triple schezwan fried rice',
       'chicken schezwan lollipop', ..., 'vodka  absolut df',
       'vodka  absolut df', 'vodka  absolut df'], dtype=object)

Thus, we have successfully cleaned our text data.

# 3. Feature Engineering

Converting text data to vectors. I have taken the transpose of the clean data array and converted it to a list as the input parameter in the model requires a list

In [30]:
# Convert to matrix
x = np.matrix(d)

In [31]:
# Take transpose of matrix
e=x.T

In [32]:
# Convert back to array
A = np.squeeze(np.asarray(e))

In [33]:
# Convert array to list
keywords=np.array(A).tolist()

In [34]:
keywords

['chicken noodles',
 'egg triple schezwan fried rice',
 'chicken schezwan lollipop',
 'chicken lollypop',
 'pudina tandoori momos nonveg',
 'chicken combination schezwan',
 'shanghai chicken noodles',
 'fried egg fried rice',
 'schezwan chicken noodles',
 'egg hakka noodles',
 'chilli garlic chicken noodles',
 'hakka noodles chicken',
 'butter chickenegg fried ricedrink  ml',
 'chicken steamed momo  pieces',
 'chicken triple schezwan fried rice',
 'hakka noodles  chicken half',
 'egg fried rice',
 'schezwan chicken dry',
 'phad thai noodles prawns',
 'burnt chilli egg fried rice',
 'fish manchurian',
 'chicken schezwan shawarma',
 'chicken shanghai noodles',
 'chicken lollipop',
 'steamed  chicken  prawn momo',
 'malaysian chicken noodles',
 'chicken schezwan rice',
 'chicken chilly and chicken fried rice or noodles',
 'chicken manchurian noodles',
 'singapore style fried rice non veg',
 'egg chilli garlic noodles',
 'chicken hakka noodles',
 'chicken garlic noodles',
 'egg schezwan noodles',
 'chicken momo  pcs',
 'schezwan fish',
 'schezwan rice egg',
 'chicken lollipop',
 'chicken lollipop',
 'chicken schezwan chilly',
 'egg noodles',
 'chicken cheesey schezwan maggi',
 'chicken fried momos',
 'chicken hong kong noodle',
 'chicken pan fried momos n',
 'schezwan gravy momos nonveg',
 'fish fried rice',
 'chicken schezwan',
 'egg mushrom noodles',
 'malaysian chicken fried rice',
 'chicken schezwan with cheese maggi',
 'egg fried rice',
 'chicken mushroom noodles',
 'chicken kukure momo',
 'chicken fried momos',
 'triple schezwan prawns fried  rice',
 'burnt chilli prawns fried rice',
 'schezwan mixed non veg fried rice',
 'chilly gravy momos nonveg',
 'chicken mew green noodles',
 'egg manchurian rice',
 'chicken fried rice n',
 'chicken momo',
 'egg garlic noodles',
 'mixed non veg noodles',
 'pan tossed chicken and prawn momos',
 'schezwan mixed non veg noodles',
 'fried riceprawns',
 'schezwan tandoori chicken',
 'egg hakka noodles',
 'egg burnt garlic fried rice',
 ' pcs chicken lollipopegg fried riceschezwan saucedrink  ml',
 'egg fried rice',
 'egg singaporean noodles',
 'korean chicken fried rice',
 'chicken lemon garlic noodle',
 'steamed  chicken momo',
 'tandoori chicken momos',
 'chicken schezwanegg singapore ricedrink  ml',
 'fish noodles',
 'burnt garlic fried rice egg',
 'chicken fried rice',
 'chicken lollypop  pieces',
 'chicken schezwan chilly and chicken fried rice or noodles',
 'chicken steamed momos n',
 'schezwan fish fried rice',
 'chicken hakka noodle',
 'fried rice  chicken half',
 'burnt garlic fried rice egg',
 'chicken singapore noodles',
 'chicken hakka noodles',
 'egg hakka noodles',
 'chicken fiery hot pan fried noodles',
 'butter chicken masalaegg fried riceml coldrik',
 'prawns fried rice',
 'fried momos nonveg',
 'chicken manchurian gravy',
 'butter gravy momos nonveg',
 'burnt garlic fried rice non veg',
 'chicken lollypop  pieces',
 'chicken steam momos',
 'teriyaki chicken noodles',
 'pan fried noodle chicken oystr',
 'teriyaki chicken noodles',
 'chicken steamed momos',
 'chicken chilly garlic noodle',
 'chicken manchurian',
 'fried ricechicken',
 'tandoori schezwan momos non veg',
 'chicken pan fried noodles',
 'schezwan fish',
 'fish fried rice',
 'schezwan chicken',
 'chicken butter tossed noodles in soy sauce and wine',
 'fried riceprawns half',
 'chicken schezwan gravy',
 'chicken schezwan dry',
 'teriyaki chicken fried rice',
 'fiery hot pan fried noodles egg',
 'chicken manchurian boneless',
 'chicken fried rice',
 'family biryani  chicken lollypop',
 'chicken lollypop',
 'egg manchurian noodles',
 'steam momo nonveg',
 'chicken tandoori malai momos n',
 'fried chicken momos',
 'chicken singapore noodle',
 'burnt garlic fried rice chicken',
 'egg triple schezwan noodles',
 'egg combination rice amp noodles',
 'triple schezwan chicken fried rice',
 'egg schezwan with cheese maggi noodles',
 'chicken chilly gravyegg fried ricedrink  ml',
 'schezwan rice non veg',
 'egg fried rice',
 'steamed chicken and prawn momos',
 'schezwan chicken fried rice',
 'pan tossed  chicken  prawn momo',
 'chicken malai tandoori momos n',
 'chicken lollipop n',
 'chicken hong kong noodles',
 'chicken pan fried noodle',
 'egg noodles',
 'chicken tandoori lollypop',
 'chicken oyster noodles',
 'chicken mongolian noodle',
 'chicken schezwan noodles',
 'chicken fried rice',
 'red light chicken lollypop',
 'chicken chilly garlic noodles',
 'chicken momo  pcs',
 'pan tossed  chicken momo',
 'egg fried rice',
 'egg fried rice',
 'chicken fried rice',
 'triple schezwan rice egg',
 'burnt garlic noodles chicken',
 'chicken lollipop',
 'thai mint chicken fried rice',
 'chicken szechuan noodle',
 'pan tossed chicken momos',
 'tandoori schezwan momos nonveg',
 'butter chickenegg fried rice drink  ml',
 'chicken shanghai noodle',
 'shanghai chicken fried rice',
 'schezwan chicken fried rice',
 'chicken goreng noodles',
 'schezwan with cheese maggi noodles chicken',
 'chicken ginger garlic fried rice',
 'schezwan prawns fried rice',
 'egg fiery hot pan fried noodles',
 'egg schezwan rice',
 'chicken schezwan rice',
 'fried  chicken  prawn momo',
 'chicken manchurian',
 'combination rice  chicken noodles boiled  fried and rice  ',
 'chicken fried rice',
 'malaysian egg noodles',
 'schezwan with cheese egg',
 'burnt chilli chicken noodles',
 'singaporean chicken noodles',
 'malai tandoori momos nonveg',
 'chicken schezwan',
 'tandoori momos nonveg',
 'egg cheesey schezwan maggi',
 'egg  noodles',
 'burnt chilli chicken fried rice',
 'prawns gravy in schezwan sauce',
 'egg burnt garlic noodles',
 'chicken triple schezwan rice',
 'chicken schezwan noodles',
 'schezwan with cheese non veg',
 'burnt garlic chicken noodles',
 'fish noodles',
 'singapore style fried rice egg',
 'fish manchurian',
 'egg fried rice',
 'chicken manchurian',
 'chicken chilli momos',
 'egg triple schezwan rice',
 'chicken triple schezwan noodles',
 'egg combination schezwan',
 'chicken manchurian and chicken fried rice or noodles',
 'mixed non veg fried rice',
 'chicken noodles stirfry in hoisin sauce',
 'chicken hong kong noodles',
 'schezwan egg fried rice',
 'phad thai noodles chicken',
 'singapore style fried rice chicken',
 'schezwan with cheese maggi noodles egg',
 'fiery hot pan fried noodles non veg',
 'triple schezwan rice chicken',
 'thai mint chicken noodles',
 'singapore style fried rice egg',
 'chicken manchurian gravy',
 'schezwan egg fried rice',
 'chicken hakka noodles',
 'chicken manchurian',
 'chicken manchurian noodle',
 'steamed chicken momos',
 'soyabean chunks masala maggi noodles egg',
 'chicken schezwan dry',
 'burnt garlic chicken fried rice',
 'chicken lollypop family biryani',
 'schezwan fish noodles',
 'chicken triple schezwan rice',
 'schezwan chicken noodles',
 'schezwan egg  noodles',
 'chicken tandoori schezwan',
 'burnt garlic noodles chicken half',
 'chicken singapore noodles',
 'chicken burnt garlic fried rice',
 'chicken manchurian rice',
 'egg hakka noodle',
 'chicken schezwan',
 'ginger garlic chicken momos pcs',
 'fried  chicken momo',
 'malaysian chicken noodles',
 'fried chicken and prawn momos',
 'burnt garlic prawns fried rice',
 'chicken noodles',
 'tripple schezwan rice non veg',
 'chicken lollipop biryani',
 'chicken manchow noodle',
 'veg fried rice',
 'crispy chilli potato',
 'schezwan vada pav',
 'veg chilli garlic noodles',
 'fried rice veg full',
 'mushroom fried rice',
 'crispy bhindi fry',
 'crispy chilli cheese veg haif',
 'hibatchi noodle',
 'triple schezwan rice veg',
 'veg combination schezwan',
 'extra schezwan',
 'veg fried rice',
 'veg manchurian puff',
 'veg manchurian balls',
 'gobi noodles',
 'schezwan mushroom fried rice',
 'crispy potatoes with chili  spring onion',
 'schezwan prawn fried rice',
 'chilli garlic prawn noodles',
 'fiery hot pan fried noodles veg',
 'mushroom noodles',
 'manchurian dry',
 'crispy peri peri nachos',
 'manchurian vegetable dumplings',
 'veg dragon noodles',
 'veg triple schezwan fried rice',
 'schezwan cheese wedges',
 'crispy veg',
 'veg dragon noodles',
 'babycorn manchurian',
 'prawn hakka noodles',
 'mutton schezwan',
 'veg mushroom noodles',
 'noodles doodles',
 'chilli garlic noodles',
 'cottage cheese schezwan sauce',
 'college wala hakka noodles',
 'singapore noodles',
 'veg manchurian n',
 'pan fried noodle',
 'veg hakka noodles',
 'veg dragon noodles',
 'veg manchurian noodles',
 'prawn fried rice',
 'shanghai noodle',
 'veg cheesey schezwan maggi',
 'mixed veg fried rice',
 'add on fried momos',
 'schezwan with cheese maggi noodles veg',
 'schezwan rice veg',
 'mmanchurian dry',
 'hakka noodles',
 'tandoori lollipop n',
 'fried momos veg',
 'crispy peanuts',
 'crispy chilli baby corn',
 'mix fried rice schezwan',
 'veg triple schezwan fried rice',
 'veg tandoori momos  pcs',
 'shanghai ricenoodles',
 'gobi manchurian',
 'veg momo  pcs',
 'schezwan with cheese veg',
 'veg manchurian gravy',
 'signature schezwan',
 'cottage cheese schezwan sauce',
 'singapore style fried rice veg',
 'fried noodles',
 'burnt garlis noodles veg',
 'burnt garlic fried rice veg',
 'hakka noodle',
 'veg schezwan noodles',
 'manchurian noodles',
 'schezwan veg fried rice',
 'cottage cheese schezwan sauce',
 'veg manchurian',
 'cheese chilli garlic noodles',
 'veg hakka noodles',
 'gobi fried rice',
 'veg momo  pcs',
 'shanghai veg fried rice',
 'veg schezwan noodles',
 'ginger garlic fried rice',
 'crispy chilli cheese veg  full',
 'mutton schezwan',
 'pan tossed vegetable momos',
 'veg manchurian balls',
 'crispy lotus root chips tossed',
 'veg schezwan noodles',
 'veg mew green noodles',
 'prawn fried rice',
 'papanga   hair ties lollipop  small',
 'pan fried momos',
 'schezwan mushroom noodles',
 'steamed  vegetable  cheese momo',
 'manchow noodle',
 'baby idli with manchurian',
 'prawn butter tossed noodles in soy sauce and wine',
 'shanghai noodles',
 'burnt garlic noodles half',
 'veg dragon noodles',
 'pan fried   noodle vegsuprsc',
 'singaporean prawn noodles',
 'schezwan rice chiken',
 'pan tossed vegetable and cheese momos',
 'veg manchurian',
 'veg schezwan with cheese maggi noodles',
 'prawn burnt garlic fried rice',
 'veg fiery hot pan fried noodles',
 'crispy fried shrimp',
 'veg schezwan fried rice n',
 'prawn fried rice',
 'schezwan cheese wedges',
 'tangy honey noodles',
 'veg fried rice',
 'triple schezwan rice veg',
 'triple schezwan rice',
 'shanghai fried rice',
 'singapore noodle',
 'veg manchurian puff',
 'veg pan fried noodles',
 'veg burnt garlic noodles',
 'veg schezwan noodles',
 'veg fried rice',
 'chilly garlic noodles',
 'cottage cheese schezwan sauce',
 'cottage cheese schezwan sauce',
 'vegburnt garlic noodles',
 'pan tossed  vegetable  cheese momo',
 'veg thai curryveg fried ricedrink  ml',
 'veg noodles',
 'veg hakka noodles',
 'manchurian dry half',
 'hong kong noodle',
 'cottage cheese schezwan sauce',
 'crispy baby potatoes',
 'veg hakka noodles',
 'veg korean fried rice',
 'tandoori momos veg',
 'veg fried rice',
 'reshmi momos',
 'mushroom manchurian',
 'manchurian dry full',
 'cheese hakka noodles',
 'schezwan gobi fried rice',
 'shanghai veg noodles',
 'veg fried momos',
 'fried rice veg half',
 'hong kong noodles',
 'manchurian hotdog',
 'cheesy noodles',
 'malaysian prawn noodles',
 'shanghai fried rice',
 'manchurian bites',
 'schezwan rice veg',
 'pudina tandoori momos veg',
 'mushroom fried rice',
 'maggi noodles arrabiata',
 'hakka noodles veg half',
 'veg fried rice',
 'veg indonesian fried rice',
 'schezwan corn frankie',
 'steamed momos',
 'veg malaysian noodles',
 'schezwan sauce',
 'prawn noodles stirfry in hoisin sauce',
 'half chi fried rice',
 'hakka noodles',
 'veg burnt garlic fried rice',
 ' phad thai noodles veg',
 'schezwan veg noodles',
 'veg triple schezwan rice',
 'steamed vegetable momos',
 'prawn fried rice',
 'chilli schezwan wedges',
 'fried rice',
 'ginger garlic fried rice',
 'malai tandoori momos veg',
 'crispy or steamed wontonsveg',
 'tandoori aloo schezwan kitabi',
 'mixed veg noodles',
 'crispy butterly prawn',
 'burnt garlic noodles',
 'schezwan gravy momos veg',
 'veg dragon noodles',
 'cottage cheese schezwan sauce',
 'veg schezwan fried rice',
 'sesame vegetable with manchurian sauce',
 'vegetable noodles stirfry in hoisin sauce',
 'veg triple schezwan fried rice',
 'crispyy chilly potatoes',
 'veg goreng noodles',
 'tandoori schezwan momos',
 'veg schezwan noodles',
 'tandoori reshmi momos',
 'pan tossed  vegetable momo',
 'steamed vegetable and cheese momos',
 'manchurian  vegetable dumplings',
 'burnt chilli veg fried rice',
 'schezwan sauce',
 'garlic noodles',
 'cottage cheese schezwan sauce',
 'veg fried rice',
 'schezwan sauce',
 'fried rice',
 'schezwan gobi noodles',
 'pan fried   noodle vegsoya half',
 'triple fried ricenoodles',
 'schezwan mixed veg fried rice',
 'prawn manchurian',
 'veg hong kong noodles',
 'veg fried rice',
 'three dips with crispy pita lavache',
 'papanga   hair ties lollipop  big',
 'schezwan',
 'burnt chilli veg noodles',
 'soyabean chunks masala maggi noodles veg',
 'crispy veg',
 'schezwan babycorn fried rice',
 'manchurian noodle',
 'veg fried rice',
 'tandoori momos veg',
 'veg crispy',
 'schezwan hakka noodles',
 'veg hakka noodles',
 'veg singaporean noodles',
 'prawn schezwan',
 'baby corn manchurian sauce',
 'schezwan rice',
 'veg fried rice',
 'veg singapore noodles',
 'fried vegetable and cheese momos',
 'manchurian',
 'veg manchurian dry',
 'veg manchurian balls',
 'schezwan noodles',
 'burnt garlic prawn noodles',
 'veg triple schezwan fried rice',
 'veg schezwan fried rice',
 'mixed veg gravy in schezwan sauce',
 'veg schezwan rice',
 'veg schezwan fried rice',
 'veg triple schezwan noodles',
 'manchurian gravy',
 'crispy cottage cheese burrito',
 'schezwan fried rice',
 'cheesy noodles',
 'tandoori chicekn momos zomato',
 'fried rice veg full',
 'veg schezwan noodles',
 'babycorn fried rice',
 'szechun noodle',
 'schezwan prawn noodles',
 'tandoori momos',
 'vegetable manchurian',
 'butter gravy momos veg',
 'mongolian noodle',
 'steamed  vegetable momo',
 'schezwan brown rice ',
 'fried  vegetable  cheese momo',
 'veg noodles',
 'shezwan cheese noodles',
 'veg triple schezwan fried rice',
 'veg burnt garlic fried rice',
 'schezwan prawn noodles',
 'veg pan fried noodles',
 'veg manchurian balls',
 'phad thai noodles veg',
 'fried vegetable momos',
 'steam momo veg',
 'veg garlic noodles',
 'extra schezwan sauce',
 'crispy vegetables',
 'prawn noodles',
 'manchurian and fried rice or noodles',
 'veg noodles',
 'singapore noodles n',
 'cottage cheese schezwan sauce',
 'extra fried noodles',
 'gobi manchurian',
 'crispy lovely corn',
 'veg steamed momos',
 'fried  vegetable momo',
 'prawn schezwan',
 'veg fried rice',
 'veg manchurian balls',
 'crispy vegetables',
 'hakka noodles veg',
 'schezwan veg fried rice',
 'schezwan veg',
 'crispy honey chilli potato',
 'prawn noodles',
 'veg manchurian',
 'veg schezwan fried rice',
 'steam momos',
 'burnt garlic fried rice veg',
 'veg schezwan fried rice',
 'veg steamed momo  pieces',
 'veg fried momos',
 'vegetable burnt garlic fried rice',
 'schezwan mixed veg noodles',
 'stir fried udon noodles veg',
 'manchurian cheese hotdog',
 'fried noodles',
 'shezwan noodles',
 'veg hakka noodles',
 'chilly garlic noodle',
 'cottage cheese schezwan sauce',
 'tandoori schezwan momos veg',
 'masala noodles',
 'veg manchurian rice',
 'vegetable manchurian',
 'crispy potatoes with chillies',
 'manchurian dry',
 'cottage cheese schezwan sauce',
 'veg manchurian',
 'crispy chilli baby corn',
 'fried noodles with schezwan sauce',
 'mushroom manchurian',
 'vegetable butter tossed noodles in soy sauce and wine',
 'manchurian dry',
 'fried noodles with schezwan sauce',
 'chilly gravy momos veg',
 'crispy fried basa filled',
 'kolhapuri chicken sw',
 'prawns tikka ppp',
 'chicken tikka masala pie',
 'chicken tikka',
 'chicken tikka sub',
 'chicken tikka masala pie',
 'butter chicken fold paratha',
 'achari fish tikka',
 'chicken tikka roll',
 'chicken tikka',
 'chicken tikka',
 'chicken tikka lababdar',
 'chicken kolhapuri',
 'fish tikka',
 'chicken tikka pahadi',
 'butter chicken steam rice  roti dal aachar chaas  sweet',
 'chicken reshmi tikka',
 'chicken paratha',
 'chef s special bbq chicken tikka',
 'chicken tikka slider',
 'irani fish tikka',
 'chicken tikka sw',
 'chicken tawa masala steam rice  roti dal aachar chaas  sweet',
 'fish koliwada ',
 'chicken tikka sw',
 'chicken keema naan',
 'chicken vada pav',
 'chicken tikka masala',
 'chicken malai tikka',
 'scrambled eggs amp toasted bread',
 'chicken tikka',
 'chicken tikka masala',
 'prawns tikka med',
 'egg vada pav',
 'fish haryali tikka',
 'chicken chitpole tikka roll',
 'chicken malai tikka',
 'chicken pudina tikka',
 'fish tikka',
 'chicken amritsari steam rice  roti dal aachar chaas  sweet',
 'chicken tikka croissant',
 'powder large brown bread manchow chicken soup',
 'chicken tikka masala',
 'chicken tikka masala n',
 'cheese and chicken tikka roll',
 'chicken tikka roll',
 'chicken shawarma in whole wheat bread',
 'chicken harisha tikka roll',
 'chicken tikka roll',
 'chicken tikka roll',
 'chicken handi steam rice  roti dal aachar chaas  sweet',
 'chicken tikka grilled roll',
 'punjabi chicken tikka',
 'chicken tikka kabab',
 'chicken kadai steam rice  roti dal aachar chaas  sweet',
 'chicken bhuna zaatar naan turnover',
 'chicken  tikka',
 'malai chicken tikka',
 'egg kothu paratha',
 'fish koliwada ',
 'chicken shawarma in rumali roti',
 'oliva chicken tikka sizzler',
 'chicken tikka kali mirch',
 'chicken kothu paratha',
 'fish tikka biryani dum',
 'chicken tikka puff',
 'chicken tikka biryani dum',
 'chicken lasoni tikka',
 'fish koliwada',
 'reshmi chicken tikka',
 'tikka chicken burrito regular',
 'chicken keema fold paratha n',
 'chicken tikka sw',
 'chicken tikka masala steam rice  roti dal aachar chaas  sweet',
 'chicken bhuna steam rice  roti dal aachar chaas  sweet',
 'chicken tikka platter  pieces',
 'scrambled eggs  toasted bread',
 'chicken tikka reshmi',
 'chicken makhanwala zaatar naan turnover',
 'prawns tikka fam',
 'chicken tikka roll',
 'chicken tikka pahadi',
 'chicken handi',
 'prawns koliwada',
 'fish tikka  roll',
 'handi chicken',
 'chicken tikka gm',
 'chicken desi masala steam rice  roti dal aachar chaas  sweet',
 'chicken tikka malai',
 'chicken tikka croissant',
 'extra chicken tikka',
 'chicken tikka croissant',
 'chicken bbq tikka rice',
 'chicken tikka masala',
 'baked prawns bread',
 'chatpata chicken zaatar naan turnover',
 'chicken handi new',
 'handi fish',
 'chicken tikka platter  pieces',
 'chicken tikka sw',
 'chicken kolhapuri',
 'fish tikka',
 'chicken bbq tikka roll',
 'kadhai chicken zaatar naan turnover',
 'chicken keema naan',
 'achari fish tikka',
 'chicken tikka biryani',
 'chicken bhurji bread pakoda  pieces',
 'chicken tikka shawarma',
 'chicken tikka sw',
 'grilled paneer salad',
 'anda paratha',
 'pahadganj palak paneer',
 'punjabi onion kulcha combo',
 'paneer makhmali kebab',
 'cheese naan',
 'amritsari bharwan kulchamasala',
 'masala dosa ',
 'palak paneer',
 'butter tandoori roti',
 'paneer makhanwala steam rice  roti dal aachar chaas  sweet',
 'palak paneer',
 'amritsari kulcha aloo',
 'paneer kulcha',
 'paneer family biryani',
 'paneer chilli',
 'methi paneer tikka',
 'cheese paratha',
 'paneer teriyaki',
 'methi paratha',
 'paneer bbq rice',
 'hummus with zaatar naan',
 'supergrain breadgrams',
 'maa ke hath ki paneer dal khichdi',
 'khurmi  naan',
 'aloo paratha',
 'naan  plain',
 'oriental paneer',
 'plain pita bread  inactive',
 'paneer tikka malai',
 'dragon paneer',
 'paneer tawa masala',
 'hariyali paneer',
 'paneer bhurji',
 'lacha paratha',
 'cheese  bread   gm',
 'paneer tikka panini',
 'chilli paneer',
 'lacha paratha',
 'patana paneer ke tikke',
 'paneer bhurji grill',
 'paneer chilli',
 'paneer  indian',
 'veg malai kofta',
 'hh periperi paneer med',
 'paneer extra ',

In [35]:
# Notice that many words are removed in the cleaning process
print(len(keywords))

13337

In [36]:
nlp = en_core_web_md.load()

I've considered these five labels to classify the data.

In [40]:
topic_labels = [
  'Veg',
  'Non-Veg',
  'Non-alcoholic beverages',
  'Alcoholic beverages',
  'Desserts'
]

*After taking a good look at our raw data, I've taken several keywords which can be associated with the labels. These will help us in getting a good accuracy score.*

They can be further tweaked a bit to impove accuracy more

In [41]:
topic_keywords=[
    'veg vegetable paneer potato aloo dal cheese wrap',
    'chicken muttton fish prawn bacon pepperoni omellete shawrma',
    'milk tea coffee shake soup soft drinks cafe juice frappe cappuccino',
    'beer whisky alcohol vodka mojito',
    'mousse pancakes nutella waffles pastry choco chocolate brownie cake ice cream'
]

In [42]:
topic_docs = list(nlp.pipe(topic_keywords, batch_size=10000,
  n_threads=3))

In [43]:
topic_vectors = np.array([doc.vector 
  if doc.has_vector else spacy.vocab[0].vector
  for doc in topic_docs])

In [44]:
# Print topic vector for our first label, Veg
print(topic_labels[0])
print(topic_vectors[0])

Veg
[-3.24378878e-01 -7.63103738e-02  3.97118747e-01  2.39687487e-02
  5.06347492e-02  7.03979969e-01 -1.82393640e-02 -2.02608362e-01
  7.28636086e-02  4.54423606e-01 -5.68820000e-01  2.47344241e-01
 -1.84499115e-01 -1.64249688e-01  2.48333752e-01 -1.51596755e-01
  1.57408506e-01  9.88685012e-01  2.48468995e-01  2.24234939e-01
  8.03420097e-02  4.71788719e-02 -2.19443738e-02  2.57407516e-01
  6.72015026e-02 -1.62577614e-01 -3.42857778e-01  3.39884222e-01
  1.92930490e-01 -6.35887504e-01 -1.47502497e-01  9.75522473e-02
  2.10239977e-01 -4.10250008e-01  2.41726354e-01  1.81529433e-01
  9.83289108e-02  1.07892379e-01 -7.45120049e-02  4.51712877e-01
  1.13021001e-01 -1.09365001e-01 -1.28557712e-01 -3.97226252e-02
 -8.30580071e-02  4.96325999e-01 -3.26073691e-02  4.77239996e-01
 -7.17169419e-02  3.41127515e-01  5.30605018e-02 -2.06014737e-01
  4.22744483e-01 -1.77046254e-01  3.37481260e-01 -4.00706261e-01
  1.29671007e-01  1.39504254e-01  1.78783610e-02  1.02693997e-01
  4.96412516e-02 -1.18289568e-01  2.07803771e-02  3.44637521e-02
  3.00196290e-01 -7.37428665e-01 -9.17631239e-02  1.91814512e-01
 -6.00047521e-02  1.52164519e-01 -1.89051121e-01  6.34391248e-01
 -7.38135502e-02  1.37677472e-02 -1.64431632e-01 -2.35774875e-01
 -3.39905359e-02  1.09548882e-01  1.06974997e-01 -2.98932493e-01
 -1.01834014e-01 -1.72629952e-02 -2.87989974e-02 -4.38327640e-01
 -1.58415869e-01 -1.22444242e-01  8.36439252e-01  4.74560976e-01
 -2.14101255e-01 -1.22503579e-01  2.08062679e-03 -2.25997373e-01
  1.87640637e-01  8.98414105e-02 -2.20743507e-01  5.06055474e-01
 -7.58535862e-02  1.26551121e-01  1.47011489e-01  8.83356184e-02
 -5.89691252e-02 -1.32968575e-01  2.70832866e-01  1.69191658e-02
 -1.42303005e-01 -9.94960904e-01  3.87272507e-01 -1.15406245e-01
  3.14148992e-01  9.80206951e-02 -9.43833739e-02 -6.19481206e-01
 -2.93889403e-01 -2.29777500e-01  1.74392879e-01 -7.08937459e-03
 -7.49203116e-02 -7.74957463e-02  2.29381531e-01 -3.74716334e-02
  1.61064163e-01  1.80044666e-01 -2.10419372e-01 -3.49159986e-01
  2.44078726e-01 -1.73968747e-01  5.09218574e-01 -1.39117405e-01
  2.41844907e-01  1.30547613e-01 -2.13024512e-01 -3.86712462e-01
  1.13352999e-01  1.94853753e-01 -5.23616254e-01 -4.23305631e-01
 -1.47482604e-02 -2.77740985e-01 -3.60675007e-02 -9.40699950e-02
 -1.93803751e+00 -7.07577616e-02  1.88337266e-01  1.64935753e-01
  3.93073745e-02 -3.70952904e-01 -4.92093623e-01  3.92146260e-01
  4.44708839e-02 -4.51807529e-02  3.26996475e-01 -8.03064033e-02
  4.00498629e-01  6.51618764e-02 -2.85117745e-01 -3.14785898e-01
  1.32085130e-01 -2.18424737e-01  1.79854989e-01  2.13913620e-01
 -2.86765128e-01  1.96218759e-01  3.56124938e-02  2.04896376e-01
 -1.79714009e-01 -3.44534874e-01  2.29762401e-02 -4.59840983e-01
  1.37079641e-01 -6.49345070e-02  3.22394967e-01 -7.89799988e-02
 -1.99859232e-01 -2.52443880e-01 -6.14923716e-01 -3.61908376e-01
  1.78255364e-01 -5.87587152e-03 -1.57314494e-01 -2.83753365e-01
 -1.29025757e-01 -1.34731248e-01 -2.69660000e-02 -2.65340120e-01
 -2.57215858e-01 -3.05537343e-01 -1.74948946e-01 -3.29068780e-01
 -2.84920007e-01 -2.59838730e-01 -3.82844985e-01  3.04826230e-01
 -5.14488742e-02 -2.70294994e-01  2.19857469e-02  6.28737509e-02
  4.61044371e-01  2.77386904e-01 -2.38257516e-02  7.66616240e-02
 -2.98047513e-02  5.16041256e-02  6.70947507e-02 -9.05712135e-03
  3.82515013e-01  1.14031523e-01  4.93930057e-02  1.85767353e-01
  4.70821232e-01  2.15774506e-01  7.55625069e-02 -2.59754248e-02
 -2.17824951e-02 -8.55097473e-02 -2.53201216e-01 -4.50572558e-02
 -8.91100019e-02  9.16505009e-02 -3.22259009e-01  2.87562497e-02
 -5.27606249e-01  3.06774139e-01  1.23155996e-01  4.72482406e-02
  4.47177976e-01  1.19240746e-01 -3.28092486e-01 -4.88743708e-02
 -3.13569695e-01  1.18866302e-02 -2.13625133e-01 -2.08987785e-03
 -5.72926253e-02 -9.76001844e-04 -1.71528384e-01 -1.98972508e-01
 -1.95652574e-01  1.07794374e-01  5.80466054e-02  2.86140859e-01
 -1.84804365e-01  1.51833724e-02 -4.50598240e-01 -4.44451243e-01
  1.89492509e-01  3.59750390e-01 -2.02079996e-01 -5.15698731e-01
 -1.88838869e-01 -2.60671377e-01 -9.93221253e-02 -1.86778545e-01
 -2.37648740e-01 -5.02735004e-02  1.34609997e-01  5.21537483e-01
  1.80844739e-01  2.67353505e-01  1.30503252e-01  1.29529268e-01
 -2.53128894e-02 -1.95268869e-01 -8.04347470e-02  1.98346242e-01
 -1.70835003e-01  1.86237991e-01 -2.64974892e-01 -2.13726372e-01
 -6.99887455e-01 -7.71974996e-02  1.44031003e-01 -4.16337466e-03
  1.54646248e-01  2.05435991e-01 -3.91211152e-01  3.76936257e-01
  4.33076769e-02 -3.24688703e-02 -8.48912522e-02  2.64512360e-01
  6.40412748e-01 -2.32914239e-01 -1.33994389e-02 -3.47397268e-01
  6.92747906e-02  5.57258785e-01  3.53231221e-01  1.87282503e-01
  8.00908804e-02 -9.46653336e-02  4.33550030e-01  2.10712492e-01
 -3.88965011e-01 -2.12542072e-01 -2.35945016e-01 -8.66287500e-02
  1.30732879e-01 -6.50993705e-01  2.25599736e-01  2.07506746e-01]

In [45]:
# View all topic vectors
topic_vectors

array([[-0.32437888, -0.07631037,  0.39711875, ..., -0.6509937 ,
         0.22559974,  0.20750675],
       [-0.23657374, -0.14360987,  0.27317825, ..., -0.43897274,
         0.11324563, -0.03115   ],
       [-0.08931038, -0.01475291,  0.21033691, ..., -0.5406088 ,
         0.14321029,  0.25229844],
       [-0.309226  ,  0.1686554 ,  0.21253319, ..., -0.538742  ,
         0.06441001,  0.18663299],
       [ 0.11771746, -0.0313131 ,  0.28859174, ..., -0.66667634,
        -0.16483046,  0.57205635]], dtype=float32)

In [46]:
print(topic_labels[2])
print(topic_vectors[2])

Non-alcoholic beverages
[-8.93103778e-02 -1.47529086e-02  2.10336909e-01 -1.01995640e-01
  7.77117489e-03  2.48992637e-01 -3.24770004e-01  8.50905180e-02
  3.13643813e-01  1.19282544e+00 -4.32006091e-01  4.52123322e-02
 -4.34504509e-01 -2.81927437e-01  2.65879631e-01 -2.26651192e-01
 -3.18650991e-01  1.20925820e+00  1.17705181e-01 -7.99868405e-02
 -1.27639100e-01 -2.38283817e-02  3.73309315e-03 -1.27673998e-01
  1.07386999e-01 -4.33483720e-01  9.65854526e-03 -7.78194591e-02
  1.78675458e-01 -6.85412705e-01  1.00215644e-01  4.90201600e-02
  9.74987000e-02 -2.19014227e-01 -4.72317301e-02  2.10159644e-01
  6.92238212e-02  6.19738139e-02 -2.22038016e-01  3.46211821e-01
  4.46129106e-02 -4.93921489e-02 -1.02479368e-01 -5.34951799e-02
 -1.87166467e-01  3.93513590e-01 -2.45290458e-01  6.65829107e-02
 -2.36766100e-01 -3.92292589e-02 -6.47206604e-02 -5.78493588e-02
 -1.90516904e-01  2.62800187e-01  3.77149850e-01 -5.84183633e-01
  1.46548217e-02 -1.66107595e-01 -1.44024268e-01 -1.11534543e-01
 -6.30466565e-02 -4.41860557e-02  2.59239793e-01  2.37139523e-01
 -3.04919720e-01 -4.15272921e-01  1.35845810e-01 -2.54138187e-02
 -1.46484554e-01  1.34328634e-01 -2.28483349e-01  4.87201810e-01
  3.25262010e-01 -1.40914187e-01  9.41241905e-02  2.69783616e-01
 -7.72068202e-02  1.75068095e-01 -6.17493615e-02 -2.22383171e-01
 -3.25702690e-02 -1.50422275e-01 -8.25881884e-02 -1.58756256e-01
 -3.56863618e-01 -2.05323160e-01  8.06699991e-01  1.01800871e+00
 -3.04455996e-01  1.22089736e-01  1.29705802e-01 -5.55273099e-03
  5.86114563e-02  2.43829079e-02 -2.31604815e-01 -1.47420056e-02
 -6.89273002e-03 -4.43552762e-01 -2.61709481e-01 -4.86969501e-02
  4.71572764e-02 -9.73724574e-02 -1.25944987e-01 -5.85530996e-02
 -2.22981796e-01 -9.59597230e-01  6.04040861e-01 -1.87535465e-01
  4.41783607e-01  9.87963658e-03 -1.72766391e-02 -4.09835160e-01
 -3.18908989e-01  1.01563623e-02  1.64534479e-01 -1.33437634e-01
 -1.78856105e-01 -4.51696403e-02  1.03091195e-01  2.95264840e-01
 -7.13343546e-02  1.26191467e-01 -1.59500733e-01 -1.13626383e-01
  1.81001723e-02 -2.50885487e-01  2.24577010e-01 -2.86699622e-03
  1.95996374e-01  2.62897283e-01  1.19489040e-02 -3.81483465e-01
  1.56595364e-01  4.04747099e-01 -8.90458897e-02 -1.65661816e-02
  1.61301002e-01  3.32949124e-02 -1.75722927e-01 -2.84528166e-01
 -1.97780001e+00  1.64248645e-01  5.10790884e-01  6.40951321e-02
  2.90530939e-02 -2.10981235e-01 -2.92915553e-01  1.10024005e-01
  3.02625358e-01 -2.58310348e-01  3.64227802e-01  1.81860641e-01
  3.69930089e-01  3.32735866e-01 -1.77643284e-01 -6.22291602e-02
  1.41278028e-01 -1.82703272e-01  1.66400000e-01  2.91040272e-01
 -1.19495653e-01  3.00631732e-01 -1.80418387e-01 -8.29881430e-03
  8.00430030e-02 -4.65989977e-01 -1.08140707e-01 -2.37575829e-01
 -6.48506358e-02 -4.07900065e-02  2.81551808e-01 -2.50964463e-01
 -3.97837311e-02 -1.44849285e-01 -4.68122751e-01 -2.07653806e-01
  1.09371185e-01 -2.97390491e-01 -5.73085286e-02 -3.94510359e-01
 -1.91731706e-01 -6.37827277e-01  5.43390075e-03 -2.38869652e-01
  5.67436367e-02  8.87524560e-02  1.06045909e-01  2.46564433e-01
  6.67720959e-02 -1.64660379e-01 -4.55619991e-01 -1.52761534e-01
 -1.21703342e-01 -9.18269157e-02  5.72850071e-02 -5.55216298e-02
  2.41538465e-01  2.42111728e-01  1.33128434e-01 -9.79335383e-02
  1.95912719e-02  2.79511541e-01 -1.77020893e-01 -2.20169261e-01
 -3.82932685e-02  3.13079990e-02  1.04449004e-01  2.33592466e-01
  2.61959076e-01 -6.18761778e-02 -2.36721382e-01  6.46540001e-02
  2.09019527e-01  6.42514527e-02 -1.39635548e-01 -1.67278945e-01
 -1.93817262e-02 -2.28835285e-01 -2.75539190e-01  2.67902315e-01
 -3.99869323e-01  7.56239071e-02  8.65854546e-02  2.22758546e-01
  1.79983556e-01 -5.51012009e-02  5.48811555e-02  1.12027340e-02
 -3.19704562e-01  3.88161927e-01 -2.62511611e-01 -1.94260016e-01
 -4.54393625e-02 -1.74097553e-01 -2.58287460e-01 -1.31585732e-01
  1.76266015e-01 -3.01373720e-01  2.51002818e-01 -1.32548094e-01
 -1.20099805e-01  6.14949092e-02 -4.40811932e-01 -3.82191628e-01
  9.39700082e-02  1.72503546e-01 -8.58535469e-02 -2.22700208e-01
 -4.71832931e-01  1.67506278e-01 -2.43807547e-02 -2.38699898e-01
 -1.26600996e-01  2.19884634e-01 -9.94957387e-02  5.38442671e-01
 -2.78975457e-01  5.83080873e-02 -4.08545695e-03  2.41168365e-01
 -6.95900917e-02  1.14163489e-03 -1.17035717e-01  3.06819081e-01
 -1.37216374e-01  2.26936013e-01 -9.92923528e-02  3.29310715e-01
 -4.23637420e-01  6.16830029e-02 -1.82667270e-01  8.08409974e-02
  7.51562789e-02 -7.14727445e-03  1.01055175e-01  2.17012733e-01
 -3.99749400e-03  1.57773912e-01  3.26701909e-01  6.01698816e-01
  1.46784171e-01 -9.53735039e-02  1.92937717e-01 -6.16053566e-02
 -9.71216261e-02  2.89019912e-01  6.49159133e-01  2.43841067e-01
 -2.13656902e-01  3.35143000e-01  1.79949507e-01  1.22794077e-01
  2.21306086e-01 -1.71738997e-01 -1.09677270e-01  7.92821720e-02
  1.38965175e-01 -5.40608823e-01  1.43210292e-01  2.52298445e-01]

#  4. Modelling

We will input our clean data here

In [47]:
keyword_docs = list(nlp.pipe(keywords,
  batch_size=10000,
  n_threads=3))

In [48]:
keyword_vectors = np.array([doc.vector
  if doc.has_vector else spacy.vocab[0].vector
  for doc in keyword_docs])

In [49]:
# Vector for our data
print(keywords[0])
print(keyword_vectors[0])

chicken noodles
[-4.22044992e-01 -5.14170006e-02  4.86104965e-01  8.67079943e-02
  2.39304990e-01  1.06842995e+00 -2.48064995e-01 -2.71620005e-01
  4.07595515e-01  6.92620516e-01 -6.94674969e-01  4.41139996e-01
 -5.95850050e-02 -2.21540004e-01  3.34649980e-01 -1.03672504e-01
  1.35318890e-01  1.09670997e+00 -8.11960027e-02  5.45265019e-01
 -1.64544992e-02  4.05960009e-02 -1.51843503e-01  8.50025043e-02
  2.04469506e-02 -3.07802975e-01 -4.65790004e-01 -1.94914997e-01
  1.26453996e-01 -9.12675023e-01  1.95215017e-01  2.30930001e-01
  2.32898995e-01 -6.45735025e-01  5.06935000e-01  2.44352996e-01
  9.85110030e-02  1.48250014e-02  1.93180099e-01  1.07679999e+00
  1.36370003e-01  4.94294986e-02 -3.17429975e-02 -6.46355003e-02
  1.24300502e-01  6.50319993e-01 -8.92419964e-02  4.45145011e-01
  1.04603499e-01  2.27221996e-01 -2.30295494e-01 -1.12717003e-01
  1.59869995e-02  1.94330007e-01  1.54199973e-02 -2.52979994e-01
  4.93389994e-01  2.89909989e-01  1.99524999e-01  6.79165006e-01
  1.51979998e-01 -3.25561017e-01  1.04143500e-01 -1.42660022e-01
  1.30226493e-01 -7.94584990e-01  4.32229996e-01  3.33512008e-01
 -2.01729998e-01  3.73769999e-01 -1.53054506e-01  8.64874959e-01
 -1.39320001e-01  1.22535497e-01 -6.46385014e-01 -9.98350009e-02
 -9.67409983e-02  2.47204989e-01  5.42549975e-03 -2.62194991e-01
 -2.85575002e-01 -1.81132495e-01 -1.84300020e-02 -7.69659996e-01
 -7.46449977e-02 -1.71540201e-01  1.27415001e+00  3.94299984e-01
 -9.49899927e-02  3.44849974e-02 -2.40655005e-01 -1.39480412e-01
  1.24631003e-01 -7.81949982e-02 -1.71393007e-01  7.31075048e-01
 -5.16710043e-01  8.09250027e-02  8.10999423e-03  1.23670995e-01
 -1.35069996e-01  3.02855015e-01  4.20840025e-01  2.16259897e-01
 -4.80950065e-03 -8.41820002e-01  3.17124993e-01 -1.71948001e-01
  7.37630010e-01 -1.90707996e-01 -5.44895008e-02 -8.20254982e-01
 -2.93125004e-01 -2.99324989e-01  4.06904995e-01  7.79794976e-02
 -1.81103498e-01 -1.66810021e-01  2.75804013e-01 -2.20499933e-03
 -2.82615006e-01  5.49459994e-01 -1.72499996e-02 -3.68344992e-01
  3.95406991e-01 -3.28319997e-01  7.40729988e-01 -3.53105009e-01
 -2.49375015e-01  2.44617894e-01 -1.92707509e-01 -2.96324998e-01
  1.44520000e-01  1.30704995e-02 -5.01015007e-01 -2.00360000e-01
  3.44977975e-02 -1.40844494e-01 -1.79650038e-02  1.04855500e-01
 -2.47445011e+00 -1.87355012e-01 -1.55100510e-01  3.37704986e-01
  1.63765997e-01 -5.47985017e-01 -4.40795004e-01  4.96874988e-01
  2.89505005e-01  2.10990012e-02  3.33205014e-01  3.15549970e-02
  4.76329982e-01  8.73750001e-02 -1.61760002e-01 -7.08199978e-01
  1.77242503e-01 -1.97800010e-01  1.60025001e-01 -1.64699964e-02
 -2.27679998e-01  1.05550997e-01 -3.55024993e-01  4.77349490e-01
 -3.66249979e-02 -4.39610004e-01  2.95154989e-01 -1.40698448e-01
  2.57149994e-01 -1.60499960e-02  4.87984985e-01  3.31355512e-01
 -1.05829991e-01 -5.12229979e-01 -1.37260008e+00 -9.14525032e-01
  2.68914998e-01  1.88254997e-01  3.76750082e-02 -3.51390004e-01
 -2.80479997e-01 -5.32904983e-01 -2.60950476e-01 -1.84246495e-01
  1.44055020e-02  5.38874976e-02 -3.25179994e-01 -5.40764987e-01
 -4.33950052e-02 -5.18954992e-01 -2.91779995e-01  2.39149988e-01
 -3.78279015e-02 -8.41480047e-02 -2.32109994e-01  1.22039497e-01
  7.50434995e-01  5.77035010e-01  2.14240000e-01 -6.88195005e-02
 -1.52274996e-01 -8.50365013e-02 -2.32327491e-01  1.03655994e-01
  7.27050006e-01  3.08019996e-01 -2.74635524e-01 -4.29310016e-02
  1.07483506e+00  6.58200026e-01  4.13400009e-02 -7.28653446e-02
 -3.63374986e-02 -4.75889981e-01  5.92270009e-02  1.04921997e-01
  3.30360010e-02 -3.65508012e-02 -1.36234507e-01  5.64085007e-01
 -5.74959993e-01  1.25743002e-01  2.84842491e-01  2.28945002e-01
  1.62184998e-01 -7.18949959e-02 -2.23210007e-01 -5.58000058e-02
 -2.88709491e-01  6.12320006e-02 -3.80784988e-01  4.15560007e-01
 -6.14899993e-02 -1.14398494e-01  8.80804956e-02 -1.79575995e-01
  9.56300050e-02  4.12174985e-02  4.49030012e-01  2.23014988e-02
 -3.43041509e-01  2.76150033e-02 -4.74705011e-01 -6.25095010e-01
 -8.24375004e-02  3.90614986e-01 -4.41352099e-01 -1.06401503e+00
 -5.62219977e-01 -4.87910002e-01  1.52943999e-01  1.34249002e-01
 -3.85360003e-01  5.69875002e-01  9.48050022e-02  6.49174988e-01
 -2.85629988e-01  4.49304998e-01  1.16618499e-01 -1.69147998e-01
 -7.39869997e-02 -4.13415015e-01 -4.06645000e-01 -1.59318998e-01
 -2.50498801e-01  3.17414999e-01 -2.53668517e-01 -2.69524992e-01
 -5.21569967e-01  3.20800021e-02  4.37729985e-01 -5.25970012e-02
  1.52469993e-01  2.62565017e-01 -5.22140026e-01  5.12950003e-01
  6.28295019e-02 -4.24389988e-02 -5.42749986e-02  5.52184999e-01
  7.53365040e-01 -2.49630004e-01  7.27149993e-02 -3.19554985e-01
 -2.11260021e-02  5.85039973e-01  3.21545005e-01  2.18524992e-01
  4.44500148e-03 -4.02450003e-03  4.86424983e-01  2.98882484e-01
 -5.85960031e-01 -1.08458996e-01 -5.79994977e-01 -1.43079996e-01
 -2.23996997e-01 -4.89004999e-01  5.19710004e-01  3.09049994e-01]

## 4.1 Computing the cosine similarity

Well compute a similarity matrix of each keyword to each topic. Cosine similarity has been shown to work well for word vector similarity, so well compute cross-wise similarity and then assign each keyword to the topic it is most similar to.

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
simple_sim = cosine_similarity(keyword_vectors, topic_vectors)
topic_idx = simple_sim.argmax(axis=1)
print(simple_sim)

[[0.8404847  0.8566778  0.62187225 0.40534535 0.63998145]
 [0.82303536 0.8087372  0.68177664 0.465821   0.71547914]
 [0.7719281  0.8004707  0.7228648  0.5350555  0.7785764 ]
 ...
 [0.27824357 0.28585905 0.3543091  0.52943426 0.28443155]
 [0.27824357 0.28585905 0.3543091  0.52943426 0.28443155]
 [0.27824357 0.28585905 0.3543091  0.52943426 0.28443155]]

In [52]:
p=[]

# 5. Classifying

In [53]:
for k, i in zip(keywords, topic_idx):
  p.append((k, topic_labels[i]))

In [54]:
from numpy import array
final=array(p)

In [55]:
final

array([['chicken noodles', 'Non-Veg'],
       ['egg triple schezwan fried rice', 'Veg'],
       ['chicken schezwan lollipop', 'Non-Veg'],
       ...,
       ['vodka  absolut df', 'Alcoholic beverages'],
       ['vodka  absolut df', 'Alcoholic beverages'],
       ['vodka  absolut df', 'Alcoholic beverages']], dtype='<U87')

This is the section where we could have concatenated id back with the classified dataset

In [56]:
#np.concatenate([final,df1])

# 6. Exporting final results

In [57]:
df = pd.DataFrame(final, columns = ['Item Name','Item Type'])

In [81]:
df.sample(15)

                                         Item Name                Item Type
2610                  wrap  rajma wrap with cheese                      Veg
260                                   gobi noodles                      Veg
12041                       passion fruit smoothie  Non-alcoholic beverages
12748                           tipsy whisky small      Alcoholic beverages
12533                               veg clear soup                      Veg
1772                                   garlic naan                      Veg
855                                    malai kofta                      Veg
11157                               peach iced tea  Non-alcoholic beverages
9770                      ganache  well cake shake                 Desserts
13290  wine grover chenin blanc art collection  ml  Non-alcoholic beverages
8124                                       nutella                 Desserts
12213                                 anjeer juice  Non-alcoholic beverages
12234                            water melon juice  Non-alcoholic beverages
1834                        grilled chicken burger                  Non-Veg
8773                                banana caramel                 Desserts

In [69]:
df.to_csv('data.csv', index = False)

In [661]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27715 entries, 0 to 27714
Data columns (total 2 columns):
Item Name    27715 non-null object
Item Type    27715 non-null object
dtypes: object(2)
memory usage: 433.1+ KB

## 6.1 Viewing the results

In [662]:
df.head(30)

                            Item Name                Item Type
0                      peri peri wrap                      Veg
1                  milk chocolate tub  Non-alcoholic beverages
2                   soft drinks large  Non-alcoholic beverages
3                     cheese omellete                  Non-Veg
4                          cheesy dip                      Veg
5   blueberry cream cheese sw waffles                 Desserts
6                          cafe mocha  Non-alcoholic beverages
7               exotic veg with sauce                      Veg
8                        basket chaat                      Veg
9                    red paprika half                      Veg
10              oreo obsessed pancake                 Desserts
11                   raspberry medium  Non-alcoholic beverages
12             chicken nuggets swiggy                  Non-Veg
13               chicken garlic salad                      Veg
14                  nuts over nutella                 Desserts
15                marshmallow brownie                 Desserts
16                    delivery charge  Non-alcoholic beverages
17  schezwan paneer pizza waffle half                      Veg
18               espresso  cappuccino  Non-alcoholic beverages
19                      matka chicken                  Non-Veg
20                  pizza waffle full                 Desserts
21              cottage cheese panino                      Veg
22                         xtra honey  Non-alcoholic beverages
23      banana  salted caramel puffle                 Desserts
24              nasty nutella pancake                 Desserts
25                whisky black  white      Alcoholic beverages
26                           bbq wrap                      Veg
27                     veg fried rice                      Veg
28                         feta greek                      Veg
29                 penne creamy pesto                      Veg

As we can see, many of the items are correctly classified. There are still some problems, in which there contains both keywords from more than one category.

# 7. Conclusion

I used a totally different approach this time and the results are a bit satisfactory to the previous ones. 

There still persist some issues, and I will solve them.
    1. No data visualiations
    2. Getting a exact accuracy score
    3. Item_id issue

Almost all the pointers which you suggested have been taken into consideration:
    1. Meta-labelling 
    2. Removing text data like delivery charges, etc
    3. Deleting the item_ids(not solved)
    
Due to your helpful pointers, we got a better accuracy in this attempt.

**Thank you for reading**